.root {
  background: var(--green-dark);
  margin: 2.5rem auto;
  width: 85.063rem;
  height: 53.68rem;
  border-top-left-radius: 1.9rem;
  border-top-right-radius: 1.9rem;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 2rem;
  width: 1361px;
  height: 142px;
  background: var(--yellow-light);
  border: 0.13px solid #c4c4c4;
  border-radius: 30px;
}

.container__header-text {
  text-decoration: none;
  font-weight: 400;
  font-family: var(--share);
  font-size: 2.25rem;
  color: #d12626;
  /* put border of text  https://css-tricks.com/adding-stroke-to-web-text/*/
  -webkit-text-stroke: 0.5px #140a52;
  line-height: 41px;
  text-align: center;
  width: 13rem;
  background: var(--red-light);
  border-radius: 1.6rem;
}

.container__header-text:hover {
  background: rgba(239, 117, 117, 0.45);
}

.container__main {
  width: 78.13rem;
  background: var(--yellow-light);
  margin: 27px 55.5px;
  display: flex;
  border-radius: 1.25rem;
  padding: 28px 48px 25px 45px;
  gap: 9px;
  justify-content: center;
}

.container__main-left {
  width: 35.69rem;
  height: 38.25rem;
  border-top-left-radius: 1.88rem;
  border-bottom-left-radius: 1.88rem;
  background: var(--red);
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.3);
}

/* Container - right */
.container__main-right {
}

.main__right-search {
  width: 28.25rem;
  height: 5.44rem;
  background: var(--red);
  border-top-right-radius: 0.19rem;
  border-bottom-right-radius: 0.19rem;
  /* border: 10px solid;
  border-image: radial-gradient(rgb(0,143,104), rgb(250,224,66)) 1; */
  border: 0.20rem solid transparent;
  border-image-source: linear-gradient(
    180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%
  );
  /* material https://dev.to/rumansaleem/gradient-borders-with-css-3mnk */
  border-image-slice: 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  /* margin-bottom: 1.19rem; */
  padding: 0.5rem;
}

.btnFilter{
  background-image: url('../img/icons-filter1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  outline: none;
  -webkit-appearance: none;
}

.inputSearch {
  width: 17.69rem;
  height: 3.38rem;
  padding: 0.81rem 2.25rem 0.81rem 0.81rem;
  border-radius: 1.56rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  gap: 0.31rem;
  justify-content: start;
  align-items: center;
}

.inputSearch >img {
  width: 1.88rem;
}

.inputSearch > input {
  font-family: var(--share);
  font-size: 1.5rem;
  width: 11rem;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(241, 234, 234, 0.9);
}

.btnUp{
  background-image: url('../img/flecha-hacia-arriba.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width:1.88rem;
  height: 1.88rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  /* animation: ring 1.5s infinite; */
}

.btnUp:hover{
  color: #313133;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnDown{
  background-image: url('../img/flecha-hacia-abajo.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width:1.88rem;
  height: 1.88rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.btnDown:hover{
  color: #313133;
  transform: translateY( 3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* @keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 1.88rem;
    height: 1.88rem;
    opacity: 0;
  }
} */

.main__right-list{
  width: 36.06rem;
  height: 32.82rem;
  background: var(--red);
  border-top-right-radius: 0.19rem;
  border-bottom-right-radius: 0.19rem;
  border-bottom-left-radius: 0.19rem;
  box-shadow: 0px 12px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 1.5rem 1.5rem ;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.right-list-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  /* column-gap: 0.5rem; */
  row-gap: 1rem;
  /* padding: 0.5rem; */

}

/* Layaout of  table */
.right__list-ul{
  /* display: flex;
  flex-direction: column;
  gap: 0.81rem; */
  background-color: rgba(253, 237, 237, 0.3);
  /* border-radius: 0.8rem; */
  
}
.right__ul{
  width: 11.05rem;
  height: 8.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.right__ul-li{
  width: 8.13rem;
  height: 8.13rem;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.8);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.03rem;
  padding: 0.01rem;
}

.right__ul-li p{
  font-family: var(--share);
  font-weight: 400;
  font-size: 1rem;
  color:  rgba(20, 10, 82, 0.3);
  /* margin-top: 0.8rem; */
}

.right__ul-li span{
  font-family: var(--share);
  font-weight: 400;
  font-size: 0.94rem;
  color:  #4D4A5F;
  /* margin-bottom: 0.5rem; */
}

.right__ul-li img{
  width: 5rem;
  height: 5rem;
}

.right_btn{
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  /* position: relative;
  top: -2.2rem; */
}

.btnLeft{
  background-image: url('../img/flecha-izquierda.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width:1.88rem;
  height: 1.88rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.4) ;

}

.btnLeft:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnRigth{
  background-image: url('../img/flecha-derecha.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width:1.88rem;
  height: 1.88rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.btnRigth:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Container Left */
.main__left-light{
  display: flex;
  gap: 1.38rem;
  padding-left: 1rem;
  padding-top: 1.19rem;

}

.lights{
  display: flex;
  gap: 0.5rem;
}

.lightBlue{
  width: 3.31rem;
  height: 3.31rem;
  background: var(--blue-light);
  border-radius: 50%;
  border: 0.125rem solid #FFFFFF;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.lightRed{
  width: 1.44rem;
  height: 1.44rem;
  background: var(--red-radial);
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.lightYellow{
  width: 1.44rem;
  height: 1.44rem;
  background: var(--yellow);
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.lightGreen{
  width: 1.44rem;
  height: 1.44rem;
  background: var(--green);
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}